<div>
  stuff
  
</div>

<!--
<object id="player52468167_2067282378" class="" width="100%" height="100%" type="application/x-shockwave-flash" name="player52468167_2067282378" data="http://a.vimeocdn.com/p/flash/moogaloop/5.2.52/moogaloop.swf?v=1.0.0" style="visibility: visible;">
<param name="allowscriptaccess" value="always">
<param name="allowfullscreen" value="true">
<param name="scalemode" value="noscale">
<param name="quality" value="high">
<param name="wmode" value="opaque">
<param name="bgcolor" value="#000000">
<param name="flashvars" value="server=vimeo.com&player_server=player.vimeo.com&cdn_server=a.vimeocdn.com&embed_location=http%3A%2F%2Fvimeo.com%2Fjeremyjonesfurther&force_embed=0&force_info=0&moogaloop_type=moogaloop_local&js_api=1&js_getConfig=player52468167_2067282378.getConfig&js_setConfig=player52468167_2067282378.setConfig&clip_id=52468167&fullscreen=1&js_onLoad=player52468167_2067282378.player.moogaloopLoaded&js_onThumbLoaded=player52468167_2067282378.player.moogaloopThumbLoaded">
</object>
-->
<!--
<object width="100%" height="100%" type="video/quicktime" name="player52468167_2067282378" data="http://localhost:3000/video" style="visibility: visible;">
</object>
-->
<object id="player60797103_183329228" class="" width="100%" height="100%" type="application/x-shockwave-flash" name="player60797103_183329228" data="http://a.vimeocdn.com/p/flash/moogaloop/5.2.52/moogaloop.swf?v=1.0.0" style="visibility: visible;">
<param name="allowscriptaccess" value="always">
<param name="allowfullscreen" value="true">
<param name="scalemode" value="noscale">
<param name="quality" value="high">
<param name="wmode" value="opaque">
<param name="bgcolor" value="#000000">
<param name="flashvars" value="server=vimeo.com&player_server=player.vimeo.com&cdn_server=a.vimeocdn.com&embed_location=&force_embed=0&force_info=0&moogaloop_type=moogaloop_local&js_api=1&js_getConfig=player60797103_183329228.getConfig&js_setConfig=player60797103_183329228.setConfig&clip_id=60797103&fullscreen=1&js_onLoad=player60797103_183329228.player.moogaloopLoaded&js_onThumbLoaded=player60797103_183329228.player.moogaloopThumbLoaded">
</object>
