<% content_for :head do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

Print the whole test out, follow the instructions, and then take it: <%= link_to "Diagnostic test", :controller => "pdfs", :action => "show", :pdf => @test.pdf %>. Why are we asking you to print it out, rather than doing it online? We want your first timed test to resemble actual test conditions as closely as possible, and the actual test will be on paper--not a computer screen. Once you're done, proceed to our digital scantron to get it graded: 

  <div class="clear"></div>
  <div class="grid_4 spacer"></div>
  <div class="grid_4">
    <div class="diagnose white_border">
      <%= link_to "Scantron", show_diagnostic_scantron_path %><br />
    </div>
  </div>
  <div class="grid_4 spacer"></div>
  <div class="clear"></div>


