<script type="text/javascript">
// call this every second
function updateClock(item, maxMinutes, maxSeconds) {
  var elem = $(item);
  var seconds = parseInt(elem.find(".seconds").text());
  var minutes = parseInt(elem.find(".minutes").text());

  if (maxMinutes == minutes && maxSeconds == seconds) { return; }

  seconds = seconds + 1;

  if (seconds == 60) {
    seconds = 0;
    minutes = minutes + 1;
  }

  var secondsString = seconds.toString();
  var minutesString = minutes.toString();

  if (seconds < 10 ) {
    secondsString = "0" + secondsString;
  }

  if (minutesString.length < 2) {
    minutesString = "0" + minutesString;
  }

  elem.find(".seconds").text(secondsString);
  elem.find(".minutes").text(minutesString);

}

function resetClock(elementId, handler) {
  window.clearInterval(handler);
  elem = $(elementId);
  elem.find(".seconds").text("00");
  elem.find(".minutes").text("00");
}

function startMainClock() {
  if (window.mainClockHandler == null) {
    window.mainClockHandler = window.setInterval(function () { updateClock("#main_clock", 35, 0) }, 1000);
  }
  startQuestionClock();
}


function startQuestionClock() {
  resetClock("#question_clock", window.questionClockHandler);
  window.questionClockHandler = window.setInterval(function () { updateClock("#question_clock", 1, 15) }, 1000);
}



  //function() {
 // alert('loaded');
// window.setInterval(function () { updateClock("#main_clock") }, 1000);
//  window.setInterval(alert('10'), 1000);
//};
</script>

<div>
  <div id="overall">
    Click this button to start the test: <button id="start_overall_test" onclick="startMainClock();">Start!</button>
    </br>
    Time you have left for the entire test:
    <span id="main_clock"><b><span class="minutes">00</span>:<span class="seconds">00</span></b></span>
  </div>

  <div id="question">
    Reset time for just this question: <button id="start_question" onclick="startQuestionClock();">Start!</button>
    </br>
    Time you have left for this question:
    <span id="question_clock"><b><span class="minutes">0</span>:<span class="seconds">00</span></b></span>
  </div>
</div>
