#form {
  padding: 20px;
  text-align: center;
  color: #A1453A;
}

#form form {
  margin-top: 15px;
}

#screen_name {
  margin-left: 5px;
}

#password_label {
  padding-right: 26px;
}

#password {
  margin-top: 10px;
}


.param {
  float: left;
}

.field {
  margin-left: 10px;
}

.mismatch {
  font-size: 10px;
}

.errors {
  text-align: left;
}
