<div class="top_nav">
    <div class="grid_1 nav-side">
      <div class="nav-border">
        <%= link_to "Home", root_path %>
      </div>
    </div>
    <div class="grid_1 nav-side">
      <div class="nav-border">
        <a>About</a>
      </div>
    </div>
    <div class="grid_1 nav-side">
      <a>Contact</a>
    </div>
    <div class="grid_1 nav-side spacer">
    </div>

  <div class="grid_4 centerpiece">
    <a href="/">
      <div style="font-size: 35px;">RENEGADE</div> 
      <div style="font-size: 35px;">LSAT PREP</div>
    </a>
  </div>

    <div class="grid_1 spacer nav-side">
    </div>
    <div class="grid_1 nav-side">
      <div class="nav-border">
        <a>Filler</a>
      </div>
    </div>
    <div class="grid_1 nav-side">
      <div class="nav-border">
        <a>Pricing</a>
      </div>
    </div>
    <div class="grid_1 nav-side">
      <% if @user %>
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in", signin_path %>
      <% end %>
    </div>
</div>

<div class="clear"></div>
