<div class="clear"></div>
<div class="grid_4 top_nav nav_left">
  <ul class="nav-list">
    <li class="nav_border">
        <%= link_to "Home", root_path %>
    </li>
    <li class="nav_border">
        <a>About</a>
    </li>
    <li class="">
      <a>Contact</a>
    </li>
  </ul>
</div>

  <div class="grid_4 centerpiece">
    <a href="/">
      <div style="font-size: 35px;">RENEGADE</div> 
      <div style="font-size: 35px;">LSAT PREP</div>
    </a>
  </div>

<div class="grid_4 top_nav nav_right">
  <ul class="nav-list">
    <li class="">
      <% if @user %>
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in", signin_path %>
      <% end %>
    </li>
    <li class="nav_border">
      <a>Contact</a>
    </li>
    <li class="nav_border">
        <a>About</a>
    </li>
  </ul>
</div>

<div class="clear"></div>
