<% content_for :head do %>
	<%= stylesheet_link_tag "home" %>
	<%= stylesheet_link_tag "general" %>
<% end %>


  The first step is to take a diagnostic test and show us where you're at, so we can tweak the course schedule for you.
  <div class="clear"></div>

  <div class="grid_4 spacer"></div>

  <div class="grid_4">
    <div class="diagnose white_border">
      <%= link_to "Click on me.", show_diagnostic_test_path %>
    </div>
  </div>

