<%= flash[:notice] %>

hello!
<br/>

Are you new?
<%= link_to "Create an account", '/create_user_form.html' %>
<br/>

If you're not new, why not sign in?

<br/>
<form action="/signin" method="post">
  <br/>
  Screen name: <input type="text" name="screen_name"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>

