<% content_for :head do %>
  <%= stylesheet_link_tag "index"%>
  <script>
  function slideDown() {
  } 
  </script>
<% end %>
<div class="clear"></div>
<!--form action="/signin" method="post">
  <br/>
  Screen name: <input type="text" name="screen_name"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form-->


<div class="top_nav">
    <div class="grid_1 nav-border nav-side">
      Home
    </div>
    <div class="grid_1 nav-border nav-side">
      About
    </div>
    <div class="grid_1 nav-side">
      Contact
    </div>
    <div class="grid_1 nav-side">
      Contact
    </div>

  <div class="grid_4 centerpiece">
      <span style="font-size: 35px;">RENEGADE</span> 
      <span style="font-size: 35px;">LSAT PREP</span>
  </div>

  <div class="">
    <div class="grid_1 spacer">
    </div>
    <div class="grid_1 nav-border spacer">
      Filler
    </div>
    <div class="grid_1 nav-border spacer">
      Pricing
    </div>
    <div class="grid_1">
      Sign in
    </div>
  </div>
</div>
<div class="clear"></div>

    <div class="grid_12 copy_line">
      is here to bring you the ULTIMATE
    </div>
    <div class="clear"></div>
    <div class="grid_12 copy_line">
      the most UNCONVENTIONAL
    </div>
    <div class="clear"></div>
    <div class="grid_12 copy_line centerpiece_copy">
      online LSAT solution
    </div>
<div class="clear"></div>
<div class="grid_12">
  <div class="ellens_face">
    placeholder for an image of ellen looking like a badass renegade or something else relevant
  </div>
</div>
<div class="grid_12 copy_line" style="font-size: 45px">
  FEATURING
</div>
<div class="clear"></div>
<div class="grid_1 spacer"></div>
<div class="grid_3 feature">
  <h3>
    Test prep secret sauce
  </h3>
  <ul>
    <li>
      The LSAT has a liberal bias!
    </li>
    <li>
      You need a big vocabulary!
    </li>
    <li>
      Here is my advice: stop sucking.
      </li>
  </ul>
</div>
<div class="grid_4 feature">
  <h2>
    Ellen the Renegade
  </h2>
</div>
<div class="grid_3 feature">
  <h4>
    Some other thing we're good at
  </h4>
  <p>
    One of the things we're not good at is centering, but we're going to work on that, aren't we?
  </p>
</div>
<div class="grid_1 spacer">
</div>
