<% content_for :head do %>
  <%= stylesheet_link_tag "index"%>
<% end %>
<div class="clear"></div>

<div id="main_content">
  <div class="grid_8 ">
    <div class="ellens_face white_border">
      <img id="placeholder" src="<%= asset_path('ellen_placeholder.jpeg') %>" />
        <p style="margin: 10px; text-align: center">
          we need a bigger image. also maybe some description of why Renegade = Good.
        </p>
    </div>
  </div>
  <div class="grid_4">
    <div class="sidebar white_border" style="border-left-style:none;">
      <h3>
        FEATURING
      </h3>

      <ul>
        <li>
          Surefire methods for improving your reading comprehension skills. Warning: you'll be required to apply yourself.
        </li>
        <li>
          TWO hours of free tutoring from our resident expert, Miss Ellen Cassidy.
        </li>
        <li>
          Learn to focus with our unique suite of focus games (coming soon).
        </li>
        <li>
          Enlighten your poor soul through reading our carefully-curated selections from <i>The New Yorker</i> and other fine magazines. You know, the kinds of things real lawyers like to read in their precious downtime.
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="grid_1 spacer">
</div>

